In [1]:
import pandas as pd
import requests

In [2]:
url = 'https://es.finance.yahoo.com/quote/TEF/history?p=TEF&.tsrc=fin-srch&guccounter=1'
r = requests.get(url,headers ={'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'})
df = pd.read_html(r.text)[0]
col_lista=list(df.columns)

In [3]:
col_lista

['Fecha', 'Abrir', 'Máx.', 'Mín.', 'Cierre*', 'Cierre ajus.**', 'Volumen']

In [4]:
col_num=[col_lista[0],col_lista[4]]

In [5]:
Data_num=df[col_num]
Data_num.dtypes

Fecha      object
Cierre*    object
dtype: object

In [6]:
Data_num['Cierre*'] = pd.to_numeric(Data_num['Cierre*'],errors='coerce')

C:\Users\acarrasco\AppData\Local\Temp\ipykernel_27228\2910797001.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data_num['Cierre*'] = pd.to_numeric(Data_num['Cierre*'],errors='coerce')

In [7]:
Data_num.dtypes

Fecha       object
Cierre*    float64
dtype: object

In [8]:
valueMax = Data_num['Cierre*'].max()
ValueMin = Data_num['Cierre*'].min()

In [9]:
df2= Data_num[(Data_num['Cierre*']==valueMax)]
df3= Data_num[(Data_num['Cierre*']==ValueMin)]

In [10]:
print('Día y valor en el cual el Cierre es el máximo')
df2.head()

Día y valor en el cual el Cierre es el máximo

          Fecha  Cierre*
81  31 may 2022  53200.0

In [11]:
print('Día y valor en el cual el Cierre es el mínimo')
df3.head()

Día y valor en el cual el Cierre es el mínimo

          Fecha  Cierre*
0  23 sept 2022  35100.0